
@mixin flex {
    display: flex;
	justify-content: space-between;
    }
@mixin padding-margin {
    padding-bottom: 0.3rem;
	margin-bottom: 0.3rem;
    }
@mixin margin-bottom {
    margin-bottom: 0.2rem;
    }
@mixin text-align {
    text-align: center;
    }
@mixin avatar {
    height: 1.8rem;
	border-radius: 100%;
	background-size: 100%;
    }